/*
    Main
*/
#stack {
    -fx-padding: 10;
}
#rootVBox {
    -fx-alignment: top-center;
    -fx-spacing: 40;
}

/*
    Title
*/
#titleVBox {
    -fx-alignment: center;
    -fx-padding: 30 0 0 0;
    -fx-spacing: 5;
}
#topText {
    -fx-fill: white;
}
#bottomText {
    -fx-fill: white;
}

/*
    Buttons
*/
#buttonsVBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}
#playAgainBtn {
    -fx-min-width: 190;
    -fx-pref-width: 190;
    -fx-max-width: 190;
}
#exitBtn {
    -fx-min-width: 190;
    -fx-pref-width: 190;
    -fx-max-width: 190;
}

/*
    Scores
*/
#playerScore {
    -fx-fill: white;
}
#opponentScore {
    -fx-fill: white;
}

/*
    Middle part
*/
#middleText {
    -fx-fill: white;
}
#vsText {
    -fx-fill: white;
}

/*
    GameLog
*/
#gameLogTextArea {
    -fx-text-fill: white;
    -fx-control-inner-background: #454545;
    -fx-border-color: black;
    -fx-background-color: black;
}